release: "stage"
source: "http://nexus:8081/repository/helm-charts/"

##############
# Argo Apps declaration
#############
applications:
  # Keycloak
    # Keycloak
  keycloak:
    name: keycloak
    enabled: true
    source: https://github.com/petbattle/pet-battle-infra
    source_ref: main
    source_path: keycloak
    values:
      app_domain: api.cluster-n627x.n627x.sandbox2586.opentlc.com:6443
  # Pet Battle Apps
    # Pet Battle Apps
  pet-battle-api:
    name: pet-battle-api
    enabled: true
    source: https://petbattle.github.io/helm-charts  # http://nexus:8081/repository/helm-charts
    chart_name: pet-battle-api
    source_ref: 1.2.1 # helm chart version
    values:
      image_name: pet-battle-api
      image_version: latest # container image version
      hpa:
        enabled: false
      # FIX: MongoDB 7.0 to resolve wire protocol v6 incompatibility
      # Fixes: MongoIncompatibleDriverException - Server wire version 6
      mongodb:
        enabled: true
        image:
          repository: mongo
          tag: "7.0"
        auth:
          enabled: false
  pet-battle:
    name: pet-battle
    enabled: true
    source: https://petbattle.github.io/helm-charts  # http://nexus:8081/repository/helm-charts 
    chart_name: pet-battle
    source_ref: 1.0.6 # helm chart version
    values:
      image_version: latest # container image version
